#walrus-showing {
  display: none;
}

#castle-showing {
  display: none;
}

#seashell-showing {
  display: none;
}

#p1-color{
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2 {
  cursor: pointer;
  color: #DAF7A6  ;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2:hover {
  text-decoration: underline;
}

.shells {
  height: 100px;
  width: 100px;
}

.dark-background {
  background-color: #2f2f40;
}

.medium-background {
  background-color: #595e6b;
}

.light-background {
  background-color: #ba9cb0;
}

.light-text {
  color: #9f6d9a;
}

.medium-text {
  color: #8b8eae;
}

.default-background {
  background-color: white;
}

.default-text {
  color: black;
}

.p1-color{
  background-color: orange;
  color: black;
  border: 3px solid black;
}

.p1-default{
}
